.profilepage {
    box-shadow: 0 1px 3px lightgray;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
    padding: 2rem;

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .pro {
                position: relative;

                .avatar {
                    cursor: pointer;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }
                .badge {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    width: 10px;
                    height: 10px;
                    background-color: lawngreen;
                    border-radius: 50%;
                }
            }

            .name {
                margin-left: 1rem;

                h3 {
                    font-size: 18px;
                    line-height: 1;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .item {
            text-align: center;
            padding: 0.5rem;
            border-radius: 5px;
            cursor: pointer;
            border: 3px solid transparent;
            
            &:hover {
                border: 3px solid lightgray;
            }
        }
    }
}